---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import {Window} from '../components/Window.tsx';
import { SITE_TITLE, SITE_DESCRIPTION, SOCIALS, RESUME_LINK, PROJECTS } from '../consts';
import LinkTable from '../components/LinkTable.astro';
import { getCollection } from 'astro:content';
import { Preview } from '../components/Preview.tsx'
const collection = await getCollection('blog');
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main>
      <h1>hi there, i'm <em>Tristan Radulescu</em></h1>
      <p>
      i'm a developer based in montpellier, france. right now, i'm building 
      <Preview client:only="react">
        <Preview.Trigger client:only="react">
          <a href="https://gists.app">gists.app</a>
        </Preview.Trigger>
        <Preview.Content client:only="react">
          <Window title='GISTS.APP' className='rotate-3'>
            <img src="/gists.png" width={200} class="p-1" />
            </Window>
        </Preview.Content>
      </Preview>, a code snippet platform that secure your codebase.
      </p>
      <p>
      i am also a student at <em>polytech montpellier</em> (in the devops section) and i'm currently an apprentice in saving the world at <a href="https://sweep.net">sweep</a>.
      </p>
      <p>
      when i'm not struggling with some random media protocol, i play music  with my alt/grunge/post-rock band <a href="https://www.instagram.com/black.april_band/">black april</a>.
      </p>
      <p class="w-3/4">
      here are my socials : {
      SOCIALS.map((item, index) => (
      <span>
      <a href={item.link}>{item.name}</a>
      { index != SOCIALS.length -1 ? "·" : ""}
      </span>
      ))
      }</br>
      in case you're old school, <a href={RESUME_LINK}>download my resume here</a>.
      </p>
      <div class="absolute offset-right translate-y-[-100px]">
<Window title="⏵ blmp.fm · Black April ..." className="absolute">
        <div class="p-2 flex flex-row gap-2">
        <img width={75} class="border-2  rounded-none border-secondaryxlight " src="/black_april.jpg"/>
        <div>
          <h1 class="m-0 p-0 text-[2em]">SHADES</h1>
        <h3 class="text-secondaryxlight m-0 p-0 text-[1.5em]">BLACK APRIL</h3>
        <span class="w-[150px] h-[5px] bg-secondaryxlight block">
          <div class="w-1/3 h-[5px] bg-accent block"></div>
        </span>
        </div>
        </div>
      </Window>
<Window title="⏵ blmp.fm · Black April ..." className="absolute translate-x-[10px] translate-y-[10px]">
        <div class="p-2 flex flex-row gap-2">
        <img width={75} class="border-2  rounded-none border-secondaryxlight " src="/black_april.jpg"/>
        <div>
          <h1 class="m-0 p-0 text-[2em]">SHADES</h1>
        <h3 class="text-secondaryxlight m-0 p-0 text-[1.5em]">BLACK APRIL</h3>
        <span class="w-[150px] h-[5px] bg-secondaryxlight block">
          <div class="w-1/3 h-[5px] bg-accent block"></div>
        </span>
        </div>
        </div>
      </Window>
      <Window title="⏵ blmp.fm · Black April ..." className="translate-x-[20px] translate-y-[20px]">
        <div class="p-2 flex flex-row gap-2">
        <img width={75} class="border-2  rounded-none border-secondaryxlight " src="/black_april.jpg"/>
        <div>
          <h1 class="m-0 p-0 text-[2em]">SHADES</h1>
        <h3 class="text-secondaryxlight m-0 p-0 text-[1.5em]">BLACK APRIL</h3>
        <span class="w-[150px] h-[5px] bg-secondaryxlight block">
          <div class="w-1/3 h-[5px] bg-accent block"></div>
        </span>
        </div>
        </div>
      </Window>
      </div>
      <LinkTable title="MY WORK" items={PROJECTS}/>
      <LinkTable title="MY WRITINGS" items={collection.map(({data, slug})=>(
                 {
                    name: data.title,
                 to: `/articles/${slug}`,
                    description: data.description
                 }))}/>
      <Footer/>
		</main>

	</body>
</html>
