---
interface Props {
  title: string;
  items: 
    {
      name: string;
      to: string;
      description: string;
      preview?: string;
    }[]
  
}

const {title, items} = Astro.props;
---

<section class="w-full mt-[70px]">
  <h2>{title}</h2>
  <ol>
  {
  items.map(({to, name, description}, index) => (
  <button class="relative flex flex-row w-full items-end py-2 group cursor-pointer" onclick=`location.href = '${to}';`>
    <div class="absolute bg-accentlight w-full h-full -z-10 custom-transition"></div>
    <p class="m-0 w-[40px] mr-6 text-right group-hover:text-white">#{index+1}. </p>
    <a href={to} class="no-underline group-hover:text-white">{name}</a>
    <hr class="flex-grow mb-[7px] mx-1 group-hover:border-t-white"/>
    <p class="m-0 group-hover:text-white transition-color">{description}</p>
  </button>
  ))
  }
  </ol>
</section>
